.loginPage header{
    display: flex;
    justify-content: center;
}
.loginPage .content .i{
    display: block;
    width: 20px;
    margin-right: 5px;
}
.loginPage .content .password{
    position: relative;
    top: 2rem;
}
.loginPage .content .passwordUpdated{
    display:flex;
    justify-content: space-around;
    font-size: 14px;
    color: #C9C9C9;
}
.loginPage .content .passwordUpdated:first-child{
    margin-right: 5px;
}
.loginPage footer{
    position: relative;
    top: 6rem;
}
